{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'facerecoapp/css/about.css' %}">

    <div class="privacy">
        <h1>Privacy Policy</h1>

        
        Thank you for visiting our website. 
        <h1>No Collection of Personal Data Images</h1>
        
        We prioritize your privacy and security. Our website does not collect, store, or process any personal data images.
         We respect your privacy and are committed to protecting the personal information of our users.        

        <h1>Downloading Output and Data Retention</h1>

        Upon using our service, you have the option to download the output of your prediction directly to your device, as an image. 
        We do not store or retain any outputs on our website. Once the prediction is generated 
        and made available to you for download, our system does not keep a copy of it. This 
        practice ensures your data remains private and under your control.  

        <h1>Images and Creative Commons License</h1>
        
        All images used and provided on our website are under Creative Commons licenses. This means that these images 
        are free to use, share, and adapt for any purpose, subject to the terms of the respective Creative Commons license.
        We advocate for open access and the sharing of creative works.       

        <h1>Free-to-Use Service</h1>

        Our website and its services are offered free of charge. We are committed to providing free access to our
        users, enabling users from all backgrounds to benefit from 
        our offerings without any financial barriers.    
        
        <h1>Contact Us</h1>
        
        For any kind of request, you can contact us at fifaimazight@gmail.com        
        
    {% endblock %}